<p id="notice"><%= notice %></p>

<h1>Listing Plates</h1>

<table>
  <thead>
    <tr>
      <th>Siteid</th>
      <th>Camid</th>
      <th>Plate</th>
      <th>blacklisted</th>
      <th>Process</th>
      <th>X</th>
      <th>Y</th>
      <th>Uuid</th>
      <th>Created_at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plates.each do |plate| %>
      <tr>
        <td><%= plate.siteid %></td>
        <td><%= plate.camid %></td>
        <td><span style="color:#FF0040"><%= plate.plate %></td>
        <td><%= plate.blacklisted %></td>
        <td><%= plate.process %></td>
        <td><%= plate.x %></td>
        <td><%= plate.y %></td>
        <td><%= plate.uuid %></td>
        <td><%= plate.created_at %></td>
        <td><%= link_to 'Show', plate %></td>
        <td><%= link_to 'Edit', edit_plate_path(plate) %></td>
        <td><%= link_to 'Destroy', plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plate', new_plate_path %>
